@charset "utf-8";

/*
    Freelance FAQs Stylesheet
    Author: Jose Sanchez
    Date: 3/27/2026

    Filename: faq-styles.css
*/

/* Fade-in Animation on Scroll*/
.card {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.3s ease, transform 1.3s ease;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

/*Slide in Animations*/
/* From top to bottom */
.logo {
    opacity: 0;
    transform: translateY(-50px);
    animation: slideIn 1.3s ease forwards;
}

/* From right to left */
.title1 {
    opacity: 0;
    transform: translateX(50px);
    animation: slideIn 1.3s ease forwards;
}

/* From left to right */
.back-btn, .info1 {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideIn 1.3s ease forwards;
}

/* HTML & Body Styles */
html {
    background-color: var(--primary-color);
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Figtree", sans-serif;
    overflow-x: hidden;
}

/* Top Header Styles */
.top-header {
    display: flex;
    justify-content: flex-start;
}

.back-btn {
    border: none;
    padding: 10px;
}

.back-btn img {
    width: 100%;
    height: 50px;
}

/* Logo Styles */
.logo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
}

.logo img {
    display: block;
    width: 80%;
}

/* Main Styles */
.main {
    background-color: var(--secondary-color);
    padding: 30px 0;
}

/* Intro Styles */
.intro {
    text-align: center;
    padding-bottom: 50px;
}

.title, .title1 {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
}

.title {
    padding-top: 20px;
}

.info, .info1 {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 2rem;
}

@media (max-width: 400px) {
    .nav a {
        font-size: 1.1rem;
    }

    .foot-nav {
        width: 70%;
    }

    .logo-gallery p {
        font-size: 1.2rem;
    }
}

@media (min-width: 900px) {
    body {
        max-width: 1440px;
        margin: 0 auto;
    }

    /* Logo Styles */
    .logo {
        width: 45rem;
        max-width: 50rem;
        margin: 0 auto;
    }

    .intro {
        font-size: 1.5rem;
    }

    /* Logo Grid */
    .logo-gallery {
        width: 70%;
        margin: 0 auto;
    }

    .description {
        font-size: 1.5rem;
    }

    /* Footer Styles */
    footer {
        font-size: larger;
    }

    footer p {
        font-size: 1rem;
    }

}