@charset "utf-8";

/*
    Freelance Password Stylesheet
    Author: Jose Sanchez
    Date: 3/13/2026

    Filename: password-styles.css
*/

/* Color Palette */
:root {
    --primary-color: #E7E2DD;
    --secondary-color: #D1C7BD;
    --accent-color: #AF8C5C;
    --footer-color: #474440;
}

/* Font Styles */
.figtree-regular {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Fade-in Animation on Scroll*/
.card {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.3s ease, transform 1.3s ease;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

/*Slide in Animations*/
/* From top to bottom */
.logo {
    opacity: 0;
    transform: translateY(-50px);
    animation: slideIn 1.3s ease forwards;
}

/* From right to left */
.title, .note {
    opacity: 0;
    transform: translateX(50px);
    animation: slideIn 1.3s ease forwards;
}

/* From left to right */
.back-btn, .info {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideIn 1.3s ease forwards;
}


@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* HTML & Body Styles */
html {
    background-color: var(--primary-color);
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Figtree", sans-serif;
    overflow-x: hidden;
}


/* Top Header Styles */
.top-header {
    display: flex;
    justify-content: flex-start;
}

.back-btn {
    border: none;
    padding: 10px;
}

.back-btn img {
    width: 100%;
    height: 50px;
}


/* Logo Styles */
.logo {
    justify-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
}

.logo img {
    display: block;
    width: 80%;
}

/* Main Styles */
.main {
    background-color: var(--secondary-color);
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}

h2 {
    text-decoration: underline var(--accent-color);
    padding-top: 20px;
    font-size: 1.6rem;
}

/* Intro Styles */
.title {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
}

.info {
    width: 80%;
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: 2rem;
}

.list {
    list-style-position: inside;
    padding: 0;
}

/* Password Card */
.example {
    width: 90%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 15px;
    background-color: var(--primary-color);
    box-shadow: 2px 2px 6px rgb(82, 82, 82);
}


/* Password Styles */
.password-demo {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

input[type="password"] {
    width: 50%;
    margin: 0 auto;
    height: 1.8rem;
    border-radius: 10px;
}


/* Button Styles */
.btn {
    margin: 0 auto;
    border-radius: 0.75rem;
    background-color: #000000;
    border: 1px solid #000000;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}

button {
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 0.75rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.3rem;
    background: var(--accent-color);
    color: black;
    transform: translateY(-0.2rem);
    transition: transform 0.1s ease;
}

.btn:hover button {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33rem);
}

.btn:active button {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}


/* Error Message */
.error-message {
    color: red;
    margin-top: 10px;
    font-size: 1rem;
}



/* Footer Styles */
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--footer-color);
    margin-top: 0;
    text-align: center;
    border-top: 2px solid var(--accent-color);
}

footer img {
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

.foot-logo {
    display: block;
    width: 8rem;
    padding-top: 20px;
}

footer p {
    margin: 5px;
    font-size: 0.9rem;
    color: var(--primary-color);
}

.links {
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
}

.foot-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.links a {
    text-decoration: underline var(--accent-color);
    color: var(--accent-color);
    padding: 5px;
}

.links h3 {
    margin-bottom: 5px;
}

@media (min-width: 900px) {
    body {
        max-width: 1440px;
        margin: 0 auto;
    }

    /* Logo Styles */
    .logo {
        width: 45rem;
        max-width: 50rem;
        margin: 0 auto;
    }

    p {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .card, .intro {
        width: 80%;
        margin: 0 auto;
    }

    /* Footer Styles */
    footer {
        font-size: larger;
    }

    footer p {
        font-size: 1rem;
    }

}